<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<title>HS Red Card Form</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2DW7QMEG5H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-2DW7QMEG5H');
    </script>
</head>
<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<style>
select {
  width: min(100%, 300px); word-wrap: break-word;
}


</style>
<h1 class="text-center">Red Card Form</h1>
<div class="container align-items-center" justify-content-center>
  <div class="row">
    <div class="col-lg-5 text-wrap">
      <form id="myForm">

        <div style="background-color:rgb(255, 242, 242);">
          <label for="fname">Full Name of Ejected Participant</label><br>
          <input id="ejectionNameForm" onchange=myFunction(this) onkeyup=myFunction(this) type="text" value=""
            required><br>

          <label>Role of Ejected Participant</label><br>
          <select name="ejectionRoleForm" onchange=myFunction(this) onkeyup=myFunction(this) id="ejectionRoleForm"
            required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="Player ">Player</option>
            <option value="Coach">Coach</option>
            </option>
          </select><br>

          <div id="ejectionNumberArea" style="display:none">
          <label>Jersey Number of Ejected Player</label><br>
          <input onchange=myFunction(this) onkeyup=myFunction(this) type="number" value="" id="ejectionNumberForm"><br>
          </div>

          <label>Team of the Ejected Participant</label><br>
          <input id="ejectionTeamForm" onchange=myFunction(this) onkeyup=myFunction(this) type="text" value=""
            required><br>

            <div>
          <label>Red Card Offense</label><br>
          <select name="ejectionOffenseForm" onchange=myFunction(this) onkeyup=myFunction(this) id="ejectionOffenseForm"
            required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="violent conduct towards ">Violent Conduct</option>
            <option value="subsequent caution">Subsequent Caution</option>
            <option value="Serious Foul Play">Serious Foul Play</option>
            <option value="Spitting at ">Spitting at Someone</option>
            <option value="Biting at ">Biting at Someone</option>
            <option value="Using insulting, offensive or abusive language towards ">Offensive or abusive language (includes taunting)</option>
            <option value="Using insulting, offensive or abusive gesture towards ">Offensive or abusive gesture (includes taunting)</option>
            <option value="illegally entering the field where a fight is taking place">illegally entering the field where a fight is taking place</option>
            <option value="denying an obvious goal-scoring opportunity (DOGSO) by deliberatly handling the ball & Penalty kick/Free Kick">DOGSO by deliberatly handling the ball & Penalty/Free Kick</option>
          <option value="denying an obvious goal-scoring opportunity (DOGSO) by Foul Outside the Penalty Area & Free Kick">
            DOGSO by Foul Outside the Penalty Area & Free Kick</option>
          <option value="denying an obvious goal-scoring opportunity (DOGSO) by Foul Inside the Penalty Area & No Attempt to play the ball & Penalty Kick">DOGSO by
            Foul Inside the Penalty Area & No Attempt to play the ball & Penalty Kick</option>
          </select>
        </div>

        <div>
          <select name="ejectionOffenseSeriousFoulPlayForm" onchange=myFunction(this) onkeyup=myFunction(this)
          id="ejectionOffenseSeriousFoulPlayForm" style="display: none;" required>
          <option value="" selected disabled hidden>Select an Option</option>
          <option class="LanguageGesture" value="language towards ">Language</option>
          <option class="LanguageGesture" value="gesture towards ">Gesture</option>
        </select>
      </div>

      <div>
          <select name="ejectionOffenseTowardsForm" onchange=myFunction(this) onkeyup=myFunction(this)
          id="ejectionOffenseTowardsForm" style="visibility:hidden;" required>
          <option value="" selected disabled hidden>Select an Option</option>
          <option value="an opponent">Towards an opponent</option>
          <option value="a teammate">Towards a teammate</option>
          <option value="a game official">Towards a game official</option>
          <option value="a spectator">Towards a spectator</option>
        </select>
      </div>



          <div id="abusiveLanguageArea" style="display:none">
          <label id="abusiveLanguageHint">Exactly quote all abusive language. Write motherfucker. Not m*&!$#@ucker</label><br>
          <textarea id="abusiveLanguageForm" required onchange=myFunction(this) onkeyup=myFunction(this) name="w3review" rows="3" cols="35" placeholder="I hope you die on your way home, fucking bitch."></textarea>
        </div>

          <div id="ejectionSideArea" style="display: none;">
          <label>Red Card - Area of Offense (Choose the Best)</label><br>
          <select name="ejectionSideForm" onchange=myFunction(this) onkeyup=myFunction(this) id="ejectionSideForm"
            required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="in the offender's defending half of the field">Offender's Defending Half</option>
            <option value="in the offender's attacking half of the field">Offender's Attacking Half</option>
            <option value="near the midway line">near the midway line</option>
            <option value="in the team area">Team Area</option>
            <option value="in the spectators' area">Spectators' area</option>
          </select><br>
          </div>

          <select name="ejectionAreaForm" onchange=myFunction(this) onkeyup=myFunction(this) style="display: none;"
            id="ejectionAreaForm" required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="in the goal">in the goal</option>
            <option value="in front of the goal">in front of the goal</option>
            <option value="in the penalty area">*in* the penalty area</option>
            <option value="near the penalty area">*near* the penalty area</option>
            <option value="near the goal line">near the goal line</option>
            <option value="near the touchline">near the touchline</option>
            <option value="about 30 yards from the goal line">about 30 yards from the goal line </option>
            <option value="near the corner flag">near the corner flag </option>
          </select><br>

          <label>Period the Participant was Ejected</label><br>
          <select name="ejectionPeriodForm" id="ejectionPeriodForm" onchange=myFunction(this) onkeyup=myFunction(this)
            required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="before the match">before the match</option>
            <option value="first half">first half</option>
            <option value="during halftime">halftime</option>
            <option value="second half">second half</option>
            <option value="after the match">after the match</option>
            <option value=" ">tie-breaking procedures...</option>
          </select><br>

          <select name="ejectionOvertimeForm" id="ejectionOvertimeForm" onchange=myFunction(this)
            onkeyup=myFunction(this) style="visibility:hidden" required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="between the end of regulation time and the start of the tie-breaking procedures">between end of regulation time and start of
              tie breaker</option>
            <option value="first overtime period">First Overtime Period</option>
            <option value="between the end of the first overtime period and the end of the second overtime period">Between First and Second Overtime Period</option>
            <option value="second overtime period">Second Overtime Period</option>
            <option value="between the end of the second overtime period and the start of kicks from the penalty mark">Between Second Overtime Period and Kicks from the Penalty Mark
            </option>
            <option value="penalties">Penalties</option>
          </select><br>

          <label>The Minute of the Red Card</label><br>
          <input id="ejectionTimeForm" maxlength="3" style="visibility:hidden;padding-left:0;"
            style="visibility:hidden;" title="If you don't know, make your best guess" onchange=myFunction(this)
            onkeyup=myFunction(this) type="number" value="">
          <select name="ejectionTimeUpDownForm" style="visibility:hidden;" onchange=myFunction(this)
            onkeyup=myFunction(this) id="ejectionTimeUpDownForm">
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="minutes into the">Into the Period</option>
            <option value="minutes before the end of the">Remaining In the Period</option>
          </select><br>
        </div>

        <div id="subsequent-caution-form" style="background-color:rgb(255, 255, 214)">

          First Yellow Card Offense<br>
          <select name="ejection1YCOffenseForm" id="ejection1YCOffenseForm" onchange=myFunction(this)
            onkeyup=myFunction(this)>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="Dissent">Dissent</option>
            <option value="Illegally">Illegally entering or leaving the field</option>
            <option value="Persistent Infringement">Persistent Infringement</option>
            <option value="incidental use of vulgar or profane language">Incidental use of vulgar or profane language</option>
            <option value="Unsporting Conduct - ">Unsporting Conduct</option>
            <option value="use of electronic communication devices with on-field players during play">Illegal use
              of an electronic communication device</option>
            <option value="encroachment">encroachment</option>
          </select><br>

          <select name="ejection1YCUBForm" id="ejection1YCUBForm" style="visibility:hidden;" onchange=myFunction(this)
            onkeyup=myFunction(this)>
            <option class="UB1YC" class="UB1YC" value="" selected disabled hidden>Select an Option</option>
            <option class="UB1YC" value="Reckless Play">Reckless Play</option>
            <option class="UB1YC" value="Unnecessary delay">Unnecessary Delay</option>
            <option class="UB1YC" value="Holding a shirt, shorts">Holding a shirt, shorts</option>
            <option class="UB1YC" value="Deliberatly handling the ball to interfere with or stop a promising attack">Deliberatly handling the ball to interfere with or stop a promising attack (SPA)</option>
            <option class="UB1YC" value="Foul that interferes with or stops a promising attack">Foul that interferes with or stops a promising attack (SPA)</option>
            <option class="UB1YC" value="Coaching Outside the Team Area">Coaching Outside the Team Area</option>
            <option class="UB1YC" value="Deliberate Verbal Tactics">Deliberate Verbal Tactics</option>
            <option class="UB1YC" value="Faking an injury">Faking an injury</option>
            <option class="UB1YC" value="Simulating a foul">Simulating a foul</option>
            <option class="UB1YC" id="illegallyEquipped" value="Illegally equipped player (first instance for team)">
              Illegally equipped player (first instance for team)</option>
            <option class="UB1YC" value="A excessive or prolonged act to focus attention upon oneself">A excessive
              or prolonged act to focus attention upon oneself</option>
            <option class="UB1YC" value="DOGSO by deliberatly handling the ball & Advantage & Goal">DOGSO by by deliberatly handling the ball & Advantage & Goal</option>
            <option class="UB1YC" value="DOGSO by Foul & Advantage & Goal">DOGSO by Foul & Advantage & Goal</option>
            <option class="UB1YC" value="DOGSO by Foul in Penalty Area & Attempt to play the ball & Penalty Kick">DOGSO by Foul in Penalty Area & Attempt to play the ball & Penalty Kick</option>
            <option class="UB1YC" value="Use of alcohol, use of tobacco, to be under the influence">Use of alcohol, use of tobacco, to be under the influence</option>
            <option class="EnteringLeaving1YC" value=" entering the field of play">Entering</option>
            <option class="EnteringLeaving1YC" value=" leaving the field of play">Leaving</option>
            <option class="Dissent1YC" value=" by word of mouth">by word of mouth</option>
            <option class="Dissent1YC" value=" by action">by action</option>
          </select><br>

          <label>Period of the First Yellow Card</label><br>
          <select name="ejection1YCPeriodForm" id="ejection1YCPeriodForm" onchange=myFunction(this) onkeyup=myFunction(this)
            required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="before the match">before the match</option>
            <option value="first half">first half</option>
            <option value="during halftime">halftime</option>
            <option value="second half">second half</option>
            <option value="after the match">after the match</option>
            <option value=" ">tie-breaking procedures...</option>
          </select><br>

          <select name="ejection1YCOvertimeForm" id="ejection1YCOvertimeForm" onchange=myFunction(this)
            onkeyup=myFunction(this) style="visibility:hidden" required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="between the end of regulation time and the start of the tie-breaking procedures">between end of regulation time and start of
              tie breaker</option>
            <option value="first overtime period">First Overtime Period</option>
            <option value="between the end of the first overtime period and the end of the second overtime period">Between First and Second Overtime Period</option>
            <option value="second overtime period">Second Overtime Period</option>
            <option value="between the end of the second overtime period and the start of kicks from the penalty mark">Between Second Overtime Period and Kicks from the Penalty Mark
            </option>
            <option value="during penalties">Penalties</option>
          </select><br>

          <!-- Code by Aaron Feleke -->

          <label>The Minute of the First Yellow Card</label><br>
          <input id="ejection1YCTimeForm" maxlength="3" style="visibility:hidden;padding-left:0;"
            style="visibility:hidden;" title="If you don't know, make your best guess" onchange=myFunction(this)
            onkeyup=myFunction(this) type="number" value="">

          <select name="ejection1YCTimeUpDownForm" style="visibility:hidden;" onchange=myFunction(this)
            onkeyup=myFunction(this) id="ejection1YCTimeUpDownForm">
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="minutes into the">Into the Period</option>
            <option value="minutes before the end of the">Remaining In the Period</option>
          </select><br>

          Second Yellow Card Offense<br>
          <select name="ejection2YCOffenseForm" id="ejection2YCOffenseForm" onchange=myFunction(this)
            onkeyup=myFunction(this)>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="Dissent">Dissent</option>
            <option value="Illegally">Illegally entering or leaving the field</option>
            <option value="Persistent Infringement">Persistent Infringement</option>
            <option value="incidental use of vulgar or profane language">Incidental use of vulgar or profane language</option>
            <option value="Unsporting Conduct - ">Unsporting Conduct</option>
            <option value="use of an electronic communication device with on-field players during play">Illegal use
              of an electronic communication device</option>
            <option value="encroachment">encroachment</option>
          </select><br>




          <select name="ejection2YCUBForm" id="ejection2YCUBForm" style="visibility:hidden;" onchange=myFunction(this)
            onkeyup=myFunction(this)>
            <option class="UB2YC" class="UB1YC" value="" selected disabled hidden>Select an Option</option>
            <option class="UB2YC" value="Reckless Play">Reckless Play</option>
            <option class="UB2YC" value="Unnecessary delay">Unnecessary Delay</option>
            <option class="UB2YC" value="Holding a shirt, shorts">Holding a shirt, shorts</option>
            <option class="UB2YC" value="Deliberate handling the ball to interfere with or stop a promising attack">Deliberate handling the ball to interfere with or stop a promising attack (SPA)</option>
            <option class="UB2YC" value="Foul that interferes with or stops a promising attack">Foul that interferes with or stops a promising attack (SPA)</option>
            <option class="UB2YC" value="Coaching Outside the Team Area">Coaching Outside the Team Area</option>
            <option class="UB2YC" value="Deliberate Verbal Tactics">Deliberate Verbal Tactics</option>
            <option class="UB2YC" value="Faking an injury">Faking an injury</option>
            <option class="UB2YC" value="Simulating a foul">Simulating a foul</option>
            <option class="UB2YC" id="illegallyEquipped" value="Illegally equipped player (first instance for team)">
              Illegally equipped player (first instance for team)</option>
            <option class="UB2YC" value="A excessive or prolonged act to focus attention upon oneself">A excessive
              or prolonged act to focus attention upon oneself</option>
            <option class="UB2YC" value="DOGSO by deliberatly handling the ball & Advantage & Goal">DOGSO by deliberatly handling the ball & Advantage & Goal</option>
            <option class="UB2YC" value="DOGSO by Foul & Advantage & Goal">DOGSO by Foul & Advantage & Goal</option>
            <option class="UB2YC" value="DOGSO by Foul in Penalty Area & Attempt to play the ball & Penalty Kick">DOGSO by Foul in Penalty Area & Attempt to play the ball & Penalty Kick</option>
            <option class="UB2YC" value="Use of alcohol, use of tobacco, to be under the influence">Use of alcohol, use of tobacco, to be under the influence</option>
            <option class="EnteringLeaving2YC" value=" entering the field of play">Entering</option>
            <option class="EnteringLeaving2YC" value=" leaving the field of play">Leaving</option>
            <option class="Dissent2YC" value=" by word of mouth">by word of mouth</option>
            <option class="Dissent2YC" value=" by action">by action</option>
          </select><br>


        </div>
      </form>
    </div>





    <div class="col-lg-7">
      <div class="sticky-top">
        <div id="fillAllWarning" style="color:red;font-weight: bold;">Fill in all of the green
          textboxes!</div>
        <div id="filledAll" style="color:green;font-weight: bold;">
          Make changes and add details before submitting!<br>
          <button onclick="CopyToClipboard('report')">Click to Copy Report</button>
        </div>

        <div id="report">
          <p><span id="ejectionName"></span> (<span id="ejectionRole"></span><span
              id="ejectionNumberHash">#</span><span id="ejectionNumber"></span>
            - <span id="ejectionTeam"></span>) was shown the red card and ejected for "<span id="ejectionOffense"></span><span
              id="ejectionOffenseSeriousFoulPlay"></span><span id="ejectionOffenseTowards"></span>"<span id="abusiveLanguageHelper"></span><span id="abusiveLanguage"></span><span id="abusiveLanguageHelper2"></span>
            The offense occurred <span id="ejectionSide"></span> <span id="ejectionArea"></span> <span
              id="ejectionTime"></span> <span id="ejectionTimeUpDown"></span> <span id="ejectionPeriod"></span><span
              id="ejectionOvertime"></span>.
          </p>
          <p id="subsequent-caution" style="display:none;">
            The first yellow card was shown for "<span
              id="ejection1YCOffense"></span><span id="ejection1YCUB"></span>" <span
              id="ejection1YCTime"></span> <span id="ejection1YCTimeUpDown"></span> <span id="ejection1YCPeriod"></span><span
              id="ejection1YCOvertime"></span>.
            The subsequent yellow card was shown for "<span
              id="ejection2YCOffense"></span><span id="ejection2YCUB"></span>". There was no further incident with the ejected participant.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("subsequent-caution-form").style.display = "none";
  function isHidden(el) {
    var style = window.getComputedStyle(el);
    return ((style.display == 'none') || (style.visibility == 'hidden'))
  }

  function CopyToClipboard(id) {
    var r = document.createRange();
    r.selectNode(document.getElementById(id));
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(r);
    document.execCommand('copy');
    window.getSelection().removeAllRanges();
    alert("Copied to your clipboard! Use Ctr + v or right click then choose Paste to see the report in full!")

  }

  function isSelectOrInputOrTextarea(el) {
    return el.tagName == "INPUT" || el.tagName == "SELECT" || el.tagName == "TEXTAREA"
  }

  function delay(time) {
    return new Promise(resolve => setTimeout(resolve, time));
  }


  function myFunction(elem, repeat = false) {
    console.log(elem.id, elem.value, elem)
    let newID = elem.id.substring(0, elem.id.length - 4);


    document.getElementById(newID).innerHTML = elem.value;

    var emptyFields = 0
    // if (document.getElementById("subsequent-caution-form").style.display == "none") { emptyFields = -4 }
    var existingElements = document.getElementsByTagName("*");
    Array.from(existingElements).filter(word => !isHidden(word) && isSelectOrInputOrTextarea(word)).forEach(function (i) {

      if (!i.value) {
        i.style = "background-color:#e5f5df";
        emptyFields = emptyFields + 1;
        console.log(i.id, "dis", i.style.display, "vis", i.style.visibility)
        // filledAll.style.display = "none"
        // i.style = "box-shadow: 0 0 25px #CC0000";
        // i.style.margin = "10px";
      } else {
        console.log("FAIL", i.id, "dis", i.style.display, "vis", i.style.visibility)
        i.style = "background-color:white";
        // i.style = "box-shadow: 0 0 0px #CC0000";
        // i.style.margin = "0px";
      }
    })




    if (elem.value == "Player " && elem.id == "ejectionRoleForm") {
      ejectionNumberArea.style.display = "block"
      document.querySelector("#ejectionNumber").innerHTML = document.querySelector("#ejectionNumberForm").value
      ejectionNumberHash.innerHTML = "#"
      document.querySelector(".UB1YC#illegallyEquipped").value = "Illegally equipped player (more than one instance for team)"
      document.querySelector(".UB1YC#illegallyEquipped").innerHTML = "Illegally equipped player (more than one instance for team)"
      document.querySelector(".UB2YC#illegallyEquipped").value = "Illegally equipped player (more than one instance for team)"
      document.querySelector(".UB2YC#illegallyEquipped").innerHTML = "Illegally equipped player (more than one instance for team)"
    }
    else if (elem.id == "ejectionRoleForm") {
      ejectionNumberArea.style.display = "none"
      ejectionNumberHash.innerHTML = ""
      ejectionNumber.innerHTML = ""
      document.querySelector(".UB1YC#illegallyEquipped").value = "Illegally equipped player (first instance for team)"
      document.querySelector(".UB1YC#illegallyEquipped").innerHTML = "Illegally equipped player (first instance for team)"
      document.querySelector(".UB2YC#illegallyEquipped").value = "Illegally equipped player (first instance for team)"
      document.querySelector(".UB2YC#illegallyEquipped").innerHTML = "Illegally equipped player (first instance for team)"
    }

    // !!!!!!!!!
    if (elem.id == "ejectionSideForm" && (elem.value == "in the offender's defending half of the field" || elem.value == "in the offender's attacking half of the field")) {
      ejectionAreaForm.style.display = "block"
      ejectionArea.innerHTML = ejectionAreaForm.value
    }
    else if (elem.id == "ejectionSideForm") {
      ejectionAreaForm.style.display = "none"
      ejectionArea.innerHTML = ""
    }

    if (elem.id == "ejectionPeriodForm" && elem.value == " ") {
      ejectionOvertimeForm.style.visibility = "visible"
      ejectionOvertime.innerHTML = ejectionAreaForm.value
    }
    else if (elem.id == "ejectionPeriodForm") {
      ejectionOvertimeForm.style.visibility = "hidden"
      ejectionOvertime.innerHTML = ""

    }

    // Code by Aaron Feleke

    if ((elem.id == "ejectionPeriodForm" || elem.id == "ejectionOvertimeForm") && ejectionPeriodForm.value != "first half" && ejectionPeriodForm.value != "second half" && ejectionOvertimeForm.value != "first overtime period" && ejectionOvertimeForm.value != "second overtime period") {
      ejectionTimeForm.style.visibility = "hidden"
      ejectionTime.innerHTML = ""
      ejectionTimeUpDownForm.style.visibility = "hidden"
      ejectionTimeUpDown.innerHTML = ""
    } else if (elem.id == "ejectionPeriodForm" || elem.id == "ejectionOvertimeForm") {
      console.log("jkh")
      ejectionTimeForm.style.visibility = "visible"
      ejectionTime.innerHTML = ejectionTimeForm.value
      ejectionTimeUpDownForm.style.visibility = "visible"
      ejectionTimeUpDown.innerHTML = ejectionTimeUpDownForm.value
    }


    /* START DUPLICATE OF ABOVE */
    if (elem.id == "ejection1YCPeriodForm" && elem.value == " ") {
      ejection1YCOvertimeForm.style.visibility = "visible"
      ejection1YCOvertime.innerHTML = ejectionAreaForm.value
    }
    else if (elem.id == "ejection1YCPeriodForm") {
      ejection1YCOvertimeForm.style.visibility = "hidden"
      ejection1YCOvertime.innerHTML = ""

    }

    if ((elem.id == "ejection1YCPeriodForm" || elem.id == "ejection1YCOvertimeForm") && ejection1YCPeriodForm.value != "first half" && ejection1YCPeriodForm.value != "second half" && ejection1YCOvertimeForm.value != "first overtime period" && ejection1YCOvertimeForm.value != "second overtime period") {
      ejection1YCTimeForm.style.visibility = "hidden"
      ejection1YCTimeForm.value = ""
      ejection1YCTime.innerHTML = ""
      ejection1YCTimeUpDownForm.style.visibility = "hidden"
      ejection1YCTimeUpDownForm.value = ""
      ejection1YCTimeUpDown.innerHTML = ""
    } else if (elem.id == "ejection1YCPeriodForm" || elem.id == "ejection1YCOvertimeForm") {
      console.log("jkh")
      ejection1YCTimeForm.style.visibility = "visible"
      ejection1YCTime.innerHTML = ejectionTimeForm.value
      ejection1YCTimeUpDownForm.style.visibility = "visible"
      ejection1YCTimeUpDown.innerHTML = ejectionTimeUpDownForm.value
    }

    
    /* END DUPLICATE OF ABOVE */

    
    if (elem.id == "ejectionOffenseForm" && !elem.value.toLowerCase().includes("violent") &&  !elem.value.toLowerCase().includes("spitting") && !elem.value.toLowerCase().includes("biting")){
      ejectionSideArea.style.display = "none"
      ejectionSide.innerHTML = ""

    } else if (elem.id == "ejectionOffenseForm"){
      ejectionSideArea.style.display = "block"
    }

    if (elem.id == "ejectionOffenseForm" && (ejectionOffenseForm.value == "subsequent caution")) {
      document.getElementById("subsequent-caution").style.display = "block";
      document.getElementById("subsequent-caution-form").style.display = "block";
      document.getElementById("ejectionOffenseTowards").style.display = "none"; 
      
    } else if (elem.id == "ejectionOffenseForm") {
      document.getElementById("subsequent-caution").style.display = "none";
      document.getElementById("subsequent-caution-form").style.display = "none";
    }

    if (elem.value.includes("language")){
      abusiveLanguageArea.style.display = "block"
      abusiveLanguage.style.display = "inline"
      abusiveLanguageHelper.innerHTML = " by saying \""
      abusiveLanguageHelper2.innerHTML = "\""
      abusiveLanguageHint.innerHTML = "Exactly quote all abusive language. Write motherfucker. Not m*&!$#@ucker"
      abusiveLanguageForm.placeholder = "I hope you die on your way home, fucking bitch."
      abusiveLanguageForm.rows = "1"
    } else if (elem.value.includes("gesture") || elem.value == "violent conduct towards " || elem.value == "Serious Foul Play"){
      abusiveLanguageArea.style.display = "block"
      abusiveLanguage.style.display = "inline"
      abusiveLanguageHelper.innerHTML = ". "
      abusiveLanguageHelper2.innerHTML = " "
      abusiveLanguageHint.innerHTML = "Describe the offense in one or two sentences"
      abusiveLanguageForm.placeholder = "The player deliberately elbowed an opponent in the face while jumping to head the ball."
      abusiveLanguageForm.rows = "3"
    } else if (elem.id == "ejectionOffenseForm"){
      abusiveLanguageArea.style.display = "none"
      abusiveLanguage.style.display = "none"
      abusiveLanguageHelper.innerHTML = ""
      abusiveLanguageHelper2.innerHTML = "."
    }


 if (elem.id == "ejectionOffenseForm" && ejectionOffenseForm.value == "Using offensive or abusive ") {
      document.getElementById("ejectionOffenseSeriousFoulPlay").style.display = "inline";
      ejectionOffenseSeriousFoulPlayForm.value = ""

      document.getElementById("ejectionOffenseSeriousFoulPlayForm").style.display = "block";
      // Show Language / Gesture Class Fields
      document.querySelectorAll('.LanguageGesture').forEach(function (el) {
        el.style.display = 'block';
      });

      // Spitting At Class Fields
      ejectionOffenseTowardsForm.style.display = 'block';
      ejectionOffenseTowards.innerHTML = ejectionOffenseTowardsForm.value

      abusiveLanguageArea.style.display = "block"
      

    }
    else if (elem.id == "ejectionOffenseForm" && (ejectionOffenseForm.value == "Spitting at " || ejectionOffenseForm.value == "Biting at " || ejectionOffenseForm.value == "violent conduct towards " || ejectionOffenseForm.value == "Using insulting, offensive or abusive language towards " || ejectionOffenseForm.value == "Using insulting, offensive or abusive gesture towards " )) {
      document.getElementById("ejectionOffenseSeriousFoulPlay").style.display = "none";
      ejectionOffenseTowardsForm.style.visibility = "visible"
      ejectionOffenseSeriousFoulPlay.innerHTML = ""
      ejectionOffenseTowardsForm.style.display = 'block';
      ejectionOffenseSeriousFoulPlayForm.style.display = "none"
      if (ejectionOffenseForm.value != "Spitting at " && ejectionOffenseForm.value != "Biting at "){
        abusiveLanguageArea.style.display = "block"
      }
      document.getElementById("ejectionOffenseTowards").style.display = "inline"; 
      

    }
    else if (elem.id == "ejectionOffenseForm") {
      document.getElementById("ejectionOffenseSeriousFoulPlay").style.display = "none";
      ejectionOffenseSeriousFoulPlayForm.style.display = "none"
      ejectionOffenseTowardsForm.style.display = 'none';
      ejectionOffenseTowards.value = ""
      abusiveLanguageArea.style.display = "none"
    }


    if (elem.id == "ejection2YCOffenseForm" && ejection2YCOffenseForm.value == "Unsporting Conduct - ") {
      ejection2YCUB.style.visibility = "visible"
      ejection2YCUBForm.style.visibility = "visible"
      ejection2YCUBForm.value = ""

      // Unsporting Behavior Class Fields
      document.querySelectorAll('.UB2YC').forEach(function (el) {
        el.style.display = 'block';
      });
      // Dissent Class Fields
      document.querySelectorAll('.Dissent2YC').forEach(function (el) {
        el.style.display = 'none';
      });

      // Entering/Leaving Class Fields
      document.querySelectorAll('.EnteringLeaving2YC').forEach(function (el) {
        el.style.display = 'none';
      });


    } else if (elem.id == "ejection2YCOffenseForm" && ejection2YCOffenseForm.value == "Illegally") {
      ejection2YCUB.style.visibility = "visible"
      ejection2YCUBForm.style.visibility = "visible"
      ejection2YCUBForm.value = ""
      // Hide Unsporting Behavior Class Fields
      document.querySelectorAll('.UB2YC').forEach(function (el) {
        el.style.display = 'none';
      });
      // Hide Dissent Class Fields
      document.querySelectorAll('.Dissent2YC').forEach(function (el) {
        el.style.display = 'none';
      });

      // Show Entering/Leaving Class Fields
      document.querySelectorAll('.EnteringLeaving2YC').forEach(function (el) {
        el.style.display = 'block';
      });


    }
    else if (elem.id == "ejection2YCOffenseForm" && ejection2YCOffenseForm.value == "Dissent") {
      ejection2YCUB.style.visibility = "visible"
      ejection2YCUBForm.style.visibility = "visible"
      ejection2YCUBForm.value = ""

      // Unsporting Behavior Class Fields
      document.querySelectorAll('.UB2YC').forEach(function (el) {
        el.style.display = 'none';
      });
      // Dissent Class Fields
      document.querySelectorAll('.Dissent2YC').forEach(function (el) {
        el.style.display = 'block';
      });

      // Entering/Leaving Class Fields
      document.querySelectorAll('.EnteringLeaving2YC').forEach(function (el) {
        el.style.display = 'none';
      });

    }
    else if (elem.id == "ejection2YCOffenseForm") {
      ejection2YCUB.style.visibility = "hidden";
      ejection2YCUBForm.style.visibility = "hidden"
      ejection2YCUBForm.value = ""
      ejection2YCUB.innerHTML = ""
    }

    if (elem.id == "ejection1YCOffenseForm" && ejection1YCOffenseForm.value == "Unsporting Conduct - ") {
      ejection1YCUB.style.visibility = "visible"
      ejection1YCUBForm.style.visibility = "visible"
      ejection1YCUBForm.value = ""

      // Unsporting Behavior Class Fields
      document.querySelectorAll('.UB1YC').forEach(function (el) {
        el.style.display = 'block';
      });
      // Dissent Class Fields
      document.querySelectorAll('.Dissent1YC').forEach(function (el) {
        el.style.display = 'none';
      });

      // Entering/Leaving Class Fields
      document.querySelectorAll('.EnteringLeaving1YC').forEach(function (el) {
        el.style.display = 'none';
      });


    } else if (elem.id == "ejection1YCOffenseForm" && ejection1YCOffenseForm.value == "Illegally") {
      ejection1YCUB.style.visibility = "visible"
      ejection1YCUBForm.style.visibility = "visible"
      ejection1YCUBForm.value = ""
      // Hide Unsporting Behavior Class Fields
      document.querySelectorAll('.UB1YC').forEach(function (el) {
        el.style.display = 'none';
      });
      // Hide Dissent Class Fields
      document.querySelectorAll('.Dissent1YC').forEach(function (el) {
        el.style.display = 'none';
      });

      // Show Entering/Leaving Class Fields
      document.querySelectorAll('.EnteringLeaving1YC').forEach(function (el) {
        el.style.display = 'block';
      });


    }
    else if (elem.id == "ejection1YCOffenseForm" && ejection1YCOffenseForm.value == "Dissent") {
      ejection1YCUB.style.visibility = "visible"
      ejection1YCUBForm.style.visibility = "visible"
      ejection1YCUBForm.value = ""

      // Unsporting Behavior Class Fields
      document.querySelectorAll('.UB1YC').forEach(function (el) {
        el.style.display = 'none';
      });
      // Dissent Class Fields
      document.querySelectorAll('.Dissent1YC').forEach(function (el) {
        el.style.display = 'block';
      });

      // Entering/Leaving Class Fields
      document.querySelectorAll('.EnteringLeaving1YC').forEach(function (el) {
        el.style.display = 'none';
      });

    }
    else if (elem.id == "ejection1YCOffenseForm") {
      ejection1YCUB.style.visibility = "hidden";
      ejection1YCUBForm.style.visibility = "hidden"
      ejection1YCUBForm.value = ""
      ejection1YCUB.innerHTML = ""
    }





    console.log("Empty Fields", emptyFields)
    if (!repeat) {
      myFunction(elem, true)
    }

  }

// var formIds = document.querySelectorAll('[id]');
// Array.prototype.forEach.call( formIds, function( el, i ) {
// // "el" is your element
// el.addEventListener("change", myFunction);
// });



</script>
</body>
</html>
