<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<title>HS Red Card Form</title>
  <a>2024-25 NFHS</a> / <a>2024-2025 NCAA</a> / <a>2024/25 IFAB+FIFA-</a>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2DW7QMEG5H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-2DW7QMEG5H');
    </script>
</head>
<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<style>
select {
  width: min(100%, 300px); word-wrap: break-word;
}
</style>
  <script>
 const nfhsrc = [
  ["violent conduct towards ", "Violent Conduct"],
  ["subsequent caution", "Subsequent Caution"],
  ["Serious Foul Play", "Serious Foul Play"],
  ["Spitting at ", "Spitting at Someone"],
  ["Biting at ", "Biting at Someone"],
  ["Using insulting, offensive or abusive language towards ", "Offensive or abusive language (includes taunting)"],
  ["Using insulting, offensive or abusive gesture towards ", "Offensive or abusive gesture (includes taunting)"],
  ["illegally entering the field where a fight or altercation is taking place", "Illegally entering the field where a fight or altercation is taking place"],
  ["denying an obvious goal-scoring opportunity (DOGSO) by deliberatly handling the ball & Penalty kick/Free Kick", "DOGSO by deliberately handling the ball & Penalty/Free Kick"],
  ["denying an obvious goal-scoring opportunity (DOGSO) by Foul Outside the Penalty Area & Free Kick", "DOGSO by Foul Outside the Penalty Area & Free Kick"],
  ["denying an obvious goal-scoring opportunity (DOGSO) by Foul Inside the Penalty Area & No Attempt to play the ball & Penalty Kick", "DOGSO by Foul Inside the Penalty Area & No Attempt to play the ball & Penalty Kick"]
]

const nfhsyc = [
  ["Unsporting Conduct - ", "Unsporting Conduct"],
  ["Dissent by word of mouth", "Dissent by word of mouth"],
  ["Dissent by action", "Dissent by action"],
  ["encroachment during a restart", "encroachment during a restart"],
  ["Persistent Infringement", "Persistent Infringement"],
  ["incidental use of vulgar or profane language", "Incidental use of vulgar or profane language"],
  ["Illegally entering the field", "Illegally entering the field"],
  ["Illegally leaving the field", "Illegally leaving the field"],
  ["use of an electronic communication device with on-field players during play", "Illegal use of an electronic communication device"]
]

const nfhsub = [
  ["Reckless Play", "Reckless Play"],
  ["Unnecessary delay", "Unnecessary Delay"],
  ["Holding a shirt, shorts", "Holding a shirt, shorts"],
  ["Deliberatly handling the ball to interfere with or stop a promising attack", "Deliberately handling the ball to interfere with or stop a promising attack (SPA)"],
  ["Foul that interferes with or stops a promising attack", "Foul that interferes with or stops a promising attack (SPA)"],
  ["Coaching Outside the Team Area", "Coaching Outside the Team Area"],
  ["Deliberate Verbal Tactics", "Deliberate Verbal Tactics"],
  ["Faking an injury", "Faking an injury"],
  ["Simulating a foul", "Simulating a foul"],
  ["Illegally equipped player (first instance for team)", "Illegally equipped player (first instance for team)"],
  ["A excessive or prolonged act to focus attention upon oneself", "A excessive or prolonged act to focus attention upon oneself"],
  ["DOGSO by deliberatly handling the ball & Advantage & Goal", "DOGSO by deliberately handling the ball & Advantage & Goal"],
  ["DOGSO by Foul & Advantage & Goal", "DOGSO by Foul & Advantage & Goal"],
  ["DOGSO by Foul in Penalty Area & Attempt to play the ball & Penalty Kick", "DOGSO by Foul in Penalty Area & Attempt to play the ball & Penalty Kick"],
  ["Use of alcohol, use of tobacco, to be under the influence", "Use of alcohol, use of tobacco, to be under the influence"]
]

const logrc = [
  ["denying the opposing team a goal or an obvious goal-scoring opportunity by committing a deliberate handball offence (except a goalkeeper within their penalty area)", "denying the opposing team a goal or an obvious goal-scoring opportunity by committing a deliberate handball offence (except a goalkeeper within their penalty area)"],
  ["denying the opposing team a goal or an obvious goal-scoring opportunity by committing a non-deliberate handball offence outside their own penalty area", "denying the opposing team a goal or an obvious goal-scoring opportunity by committing a non-deliberate handball offence outside their own penalty area"],
  ["denying a goal or an obvious goal-scoring opportunity to an opponent whose overall movement is towards the offender’s goal by an offence punishable by a free kick (unless as outlined below)", "denying a goal or an obvious goal-scoring opportunity to an opponent whose overall movement is towards the offender’s goal by an offence punishable by a free kick (unless as outlined below)"],
  ["serious foul play", "serious foul play"],
  ["biting at someone", "biting at someone"],
  ["Spitting at someone", "Spitting at someone"],
  ["violent conduct", "violent conduct"],
  ["offensive, insulting or abusive language", "offensive, insulting or abusive language"],
  ["offensive, insulting or abusive action(s)", "offensive, insulting or abusive action(s)"],
  ["receiving a second caution in the same match", "receiving a second caution in the same match"],
  ["entering the video operation room (VOR)", "entering the video operation room (VOR)"]
]

  const logyc = [
  ["delaying the restart of play", "delaying the restart of play"],
  ["dissent by word", "dissent by word"],
  ["dissent by action", "dissent by action"],
  ["entering the field of play without the referee’s permission", "entering the field of play without the referee’s permission"],
  ["re-entering the field of play without the referee’s permission", "re-entering the field of play without the referee’s permission"],
  ["deliberately leaving the field of play without the referee’s permission", "deliberately leaving the field of play without the referee’s permission"],
  ["failing to respect the required distance when play is restarted with a dropped ball", "failing to respect the required distance when play is restarted with a dropped ball"],
  ["failing to respect the required distance when play is restarted with a corner kick", "failing to respect the required distance when play is restarted with a corner kick"],
  ["failing to respect the required distance when play is restarted with a free kick", "failing to respect the required distance when play is restarted with a free kick"],
  ["failing to respect the required distance when play is restarted with a throw-in", "failing to respect the required distance when play is restarted with a throw-in"],
  ["persistent offences", "persistent offences"],
  ["unsporting behaviour", "unsporting behaviour"],
  ["entering the referee review area (RRA)", "entering the referee review area (RRA)"],
  ["excessively using the ‘review’ (TV screen) signal", "excessively using the ‘review’ (TV screen) signal"]
]


  const logub = [
  ["attempts to deceive the referee, e.g. by feigning injury or pretending to have been fouled (simulation)", "attempts to deceive the referee, e.g. by feigning injury or pretending to have been fouled (simulation)"],
  ["changes places with the goalkeeper during play or without the referee’s permission (both are cautioned)", "changes places with the goalkeeper during play or without the referee’s permission (both are cautioned)"],
  ["commits in a reckless manner a direct free kick offence", "commits in a reckless manner a direct free kick offence"],
  ["handles the ball to interfere with or stop a promising attack, except where the referee awards a penalty kick for a non-deliberate handball offence", "handles the ball to interfere with or stop a promising attack, except where the referee awards a penalty kick for a non-deliberate handball offence"],
  ["denies the opposing team a goal or an obvious goal-scoring opportunity and the referee awards a penalty kick for a non-deliberate handball offence", "denies the opposing team a goal or an obvious goal-scoring opportunity and the referee awards a penalty kick for a non-deliberate handball offence"],
  ["commits any other offence which interferes with or stops a promising attack, except where the referee awards a penalty kick for an offence which was an attempt to play the ball or a challenge for the ball", "commits any other offence which interferes with or stops a promising attack, except where the referee awards a penalty kick for an offence which was an attempt to play the ball or a challenge for the ball"],
  ["denies an opponent an obvious goal-scoring opportunity by committing an offence which was an attempt to play the ball or a challenge for the ball and the referee awards a penalty kick", "denies an opponent an obvious goal-scoring opportunity by committing an offence which was an attempt to play the ball or a challenge for the ball and the referee awards a penalty kick"],
  ["handles the ball in an attempt to score a goal (whether or not the attempt is successful) or in an unsuccessful attempt to prevent a goal", "handles the ball in an attempt to score a goal (whether or not the attempt is successful) or in an unsuccessful attempt to prevent a goal"],
  ["makes unauthorised marks on the field of play", "makes unauthorised marks on the field of play"],
  ["plays the ball when leaving the field of play after being given permission to leave", "plays the ball when leaving the field of play after being given permission to leave"],
  ["shows a lack of respect for the game", "shows a lack of respect for the game"],
  ["initiates a deliberate trick for the ball to be passed (including from a free kick or goal kick) to the goalkeeper with the head, chest, knee etc. to circumvent the Law, whether or not the goalkeeper touches the ball with the hands; the goalkeeper is cautioned if responsible for initiating the deliberate trick", "initiates a deliberate trick for the ball to be passed (including from a free kick or goal kick) to the goalkeeper with the head, chest, knee etc. to circumvent the Law, whether or not the goalkeeper touches the ball with the hands; the goalkeeper is cautioned if responsible for initiating the deliberate trick"],
  ["verbally distracts an opponent during play or at a restart", "verbally distracts an opponent during play or at a restart"],
  ["celebration of a goal by climbing onto a perimeter fence and/or approaching the spectators in a manner which causes safety and/or security issues", "celebration of a goal by climbing onto a perimeter fence and/or approaching the spectators in a manner which causes safety and/or security issues"],
  ["celebration of a goal by acting in a provocative, derisory or inflammatory way", "celebration of a goal by acting in a provocative, derisory or inflammatory way"],
  ["celebration of a goal by covering the head or face with a mask or other similar item", "celebration of a goal by covering the head or face with a mask or other similar item"],
  ["celebration of a goal by removing the shirt or covering the head with the shirt", "celebration of a goal by removing the shirt or covering the head with the shirt"],
  ["the kicker of the penalty kick feints to kick the ball once they have completed the run-up", "the kicker of the penalty kick feints to kick the ball once they have completed the run-up"],
  ["a team-mate of the identified kicker of the penalty kick takes the kick (the player who took the kick is cautioned)", "a team-mate of the identified kicker of the penalty kick takes the kick (the player who took the kick is cautioned)"],
  ["the goalkeeper’s offence results in the penalty kick being retaken for the second or more time", "the goalkeeper’s offence results in the penalty kick being retaken for the second or more time"],
  ["during a penalty kick both the goalkeeper and the kicker commit an offence at the same time (the kicker is cautioned)", "during a penalty kick both the goalkeeper and the kicker commit an offence at the same time (the kicker is cautioned)"],
  ["refuses to leave the field of play since the player is unable or unwilling to remove the unauthorised/dangerous equipment or jewellery", "refuses to leave the field of play since the player is unable or unwilling to remove the unauthorised/dangerous equipment or jewellery"],
  ["wears unauthorised/dangerous equipment or jewellery again after being told to remove the item", "wears unauthorised/dangerous equipment or jewellery again after being told to remove the item"],
  ["refuses to leave on a stretcher or on foot after the referee authorised the doctors and/or stretcher bearers to enter the field of play", "refuses to leave on a stretcher or on foot after the referee authorised the doctors and/or stretcher bearers to enter the field of play"]
]

    ncaayc = [
  ["3.1 a team substituted at an improper time, or did not have a moment remaining (Division I men only) (caution to player who entered)", "3.1 a team substituted at an improper time, or did not have a moment remaining (Division I men only) (caution to player who entered)"], 
  ["8.2.5 a player who kicks off improperly, willfully encroaches on the 10-yard distance or willfully moves beyond their halfway line after being already warned", "8.2.5 a player who kicks off improperly, willfully encroaches on the 10-yard distance or willfully moves beyond their halfway line after being already warned"], 
  ["12.1.2 a player acts in a reckless manner", "12.1.2 a player acts in a reckless manner"], 
  ["12.3.2.5 Using a deliberate trick to circumvent the goalkeeper restriction of handling a ball in their own penalty area when it is deliberately kicked to them by a teammate", "12.3.2.5 Using a deliberate trick to circumvent the goalkeeper restriction of handling a ball in their own penalty area when it is deliberately kicked to them by a teammate"], 
  ["14.2.3 Before the ball is kicked for a penalty kick, the opposing goalkeeper for the second or more time in the game does not have at least part of one foot touching or in line with the goal line; is not faced to the kicker or is touching the goal posts, crossbar or goal net", "14.2.3 Before the ball is kicked for a penalty kick, the opposing goalkeeper for the second or more time in the game does not have at least part of one foot touching or in line with the goal line; is not faced to the kicker or is touching the goal posts, crossbar or goal net"], 
  ["14.2.4 the player taking the penalty kick comes to a complete stop and does not maintain continuous motion toward the ball", "14.2.4 the player taking the penalty kick comes to a complete stop and does not maintain continuous motion toward the ball"], 
  ["14.3.32 the kicker feints illegally and the goalkeeper fails to keep foot on or above the goal line prior to the kick being taken (the kicker is cautioned)", "14.3.32 the kicker feints illegally and the goalkeeper fails to keep foot on or above the goal line prior to the kick being taken (the kicker is cautioned)"], 
  ["12.4.1 Entering the field without permission after the game has started", "12.4.1 Entering the field without permission after the game has started"], 
  ["12.4.1 leaving or returning to the field of play (except through the normal course of play) without first reporting to the referee or assistant referee", "12.4.1 leaving or returning to the field of play (except through the normal course of play) without first reporting to the referee or assistant referee"], 
  ["12.4.2 Persistently infringing upon any of the rules of the game", "12.4.2 Persistently infringing upon any of the rules of the game"], 
  ["12.4.3 Showing dissent by word of mouth or action to decisions made by officials", "12.4.3 Showing dissent by word of mouth or action to decisions made by officials"], 
  ["12.4.4 Using profane language in an incidental manner (i.e., not directed at someone)", "12.4.4 Using profane language in an incidental manner (i.e., not directed at someone)"], 
  ["12.4.5 Engaging in taunting or ridiculing another player, bench personnel, officials, or spectators or excessive celebration", "12.4.5 Engaging in taunting or ridiculing another player, bench personnel, officials, or spectators or excessive celebration"], 
  ["12.4.6 Engaging in simulation (falsifying contact) to deceive the referee or exaggerating the severity of contact", "12.4.6 Engaging in simulation (falsifying contact) to deceive the referee or exaggerating the severity of contact"], 
  ["12.4.7 Delaying the restart of play by kicking, throwing, carrying the ball away from the location of the restart or by taking an excessive amount of time to put the ball back into play following a restart", "12.4.7 Delaying the restart of play by kicking, throwing, carrying the ball away from the location of the restart or by taking an excessive amount of time to put the ball back into play following a restart"], 
  ["12.4.8 Failing to respect the required distance when play is restarted with corner kick, free kick, dropped ball or throw-in", "12.4.8 Failing to respect the required distance when play is restarted with corner kick, free kick, dropped ball or throw-in"], 
  ["12.4.9 Denying an obvious goal-scoring opportunity by committing an offense against an opponent in the penalty area where the referee awards a penalty kick, for an offense that was an attempt to play the ball", "12.4.9 Denying an obvious goal-scoring opportunity by committing an offense against an opponent in the penalty area where the referee awards a penalty kick, for an offense that was an attempt to play the ball"], 
  ["12.4.10 Stopping a promising attack", "12.4.10 Stopping a promising attack"], 
  ["12.4.11 Unsuccessfully attempting to deny an obvious goal-scoring opportunity", "12.4.11 Unsuccessfully attempting to deny an obvious goal-scoring opportunity"], 
  ["5.6.4 misconduct or unsporting behavior", "5.6.4 misconduct or unsporting behavior"]
]

    ncaarc = [
  ["12.7.1 Serious foul play involves making a tackle or challenge for the ball uses excessive force.", "12.7.1 Serious foul play involves making a tackle or challenge for the ball that uses excessive force."], 
  ["12.7.2 Denying the opposing team a goal or an obvious goal-scoring opportunity (DOGSO) by deliberately handling the ball, wherever the offense occurs (except a goalkeeper within their own penalty area).", "12.7.2 Denying the opposing team a goal or an obvious goal-scoring opportunity (DOGSO) by deliberately handling the ball, wherever the offense occurs (except a goalkeeper within their own penalty area)."], 
  ["12.7.3 Denying an obvious goal-scoring opportunity (DOGSO) outside the penalty area to an opponent whose overall movement is toward the offender’s goal by an offense punishable by a free kick.", "12.7.3 Denying an obvious goal-scoring opportunity (DOGSO) outside the penalty area to an opponent whose overall movement is toward the offender’s goal by an offense punishable by a free kick."], 
  ["12.7.4 Denying an obvious goal-scoring opportunity (DOGSO) by committing an offense against an opponent in the penalty area where the referee awards a penalty kick if when the offending player does not attempt to play the ball or no possibility for the player making the challenge to play the ball or it's a red card offense wherever it occurs on the field.", "12.7.4 Denying an obvious goal-scoring opportunity (DOGSO) by committing an offense against an opponent in the penalty area where the referee awards a penalty kick if when the offending player does not attempt to play the ball or no possibility for the player making the challenge to play the ball or it's a red card offense wherever it occurs on the field."], 
  ["12.7.5 Playing the ball a second time after a throw-in, goal kick or free kick to deny an opponent an obvious goal-scoring opportunity (DOGSO).", "12.7.5 Playing the ball a second time after a throw-in, goal kick or free kick to deny an opponent an obvious goal-scoring opportunity (DOGSO)."], 
  ["12.7.6 Engaging in hostile or abusive language, gestures or harassment that refers to race, religion, gender, sexual orientation or national origin.", "12.7.6 Engaging in hostile or abusive language, gestures or harassment that refers to race, religion, gender, sexual orientation or national origin."], 
  ["12.7.7 Engaging in other abusive, threatening or obscene language, behavior or conduct", "12.7.7 Engaging in other abusive, threatening or obscene language, behavior or conduct"], 
  ["12.7.8 Receiving a second caution in the same game.", "12.7.8 Receiving a second caution in the same game."], 
  ["12.7.9.1 Violent behavior I.", "12.7.9.1 Violent behavior I."], 
  ["12.7.9.2 Violent behavior II.", "12.7.9.2 Violent behavior II."], 
  ["12.7.10 Fighting.", "12.7.10 Fighting."], 
  ["12.7.11 Assaulting a referee.", "12.7.11 Assaulting a referee."]
]

    ncaaub = []

    ejectionOffenseForm.innerHTM = ''
    ejectionOffenseForm.innerHTM += '<option value="" selected disabled hidden>Select an Option</option>'
    for (x in ncaarc) {
      ejectionOffenseForm.innerHTM += `<option value="${x[ncaarc][0]}">${x[ncaarc][1]}</option>`
      
    }
    
  </script>
<h1 class="text-center">Red Card Form</h1>
<div class="container align-items-center" justify-content-center>
  <div class="row">
    <div class="col-lg-5 text-wrap">
      <form id="myForm">

        <div style="background-color:rgb(255, 242, 242);">
          <label for="fname">Full Name of Ejected Participant</label><br>
          <input id="ejectionNameForm" onchange=myFunction(this) onkeyup=myFunction(this) type="text" value=""
            required><br>

          <label>Role of Ejected Participant</label><br>
          <select name="ejectionRoleForm" onchange=myFunction(this) onkeyup=myFunction(this) id="ejectionRoleForm"
            required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="Player ">Player</option>
            <option value="Coach">Coach</option>
            </option>
          </select><br>

          <div id="ejectionNumberArea" style="display:none">
          <label>Jersey Number of Ejected Player</label><br>
          <input onchange=myFunction(this) onkeyup=myFunction(this) type="number" value="" id="ejectionNumberForm"><br>
          </div>

          <label>Team of the Ejected Participant</label><br>
          <input id="ejectionTeamForm" onchange=myFunction(this) onkeyup=myFunction(this) type="text" value=""
            required><br>

            <div>
          <label>Red Card Offense</label><br>
          <select name="ejectionOffenseForm" onchange=myFunction(this) onkeyup=myFunction(this) id="ejectionOffenseForm"
            required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="violent conduct towards ">Violent Conduct</option>
            <option value="subsequent caution">Subsequent Caution</option>
            <option value="Serious Foul Play">Serious Foul Play</option>
            <option value="Spitting at ">Spitting at Someone</option>
            <option value="Biting at ">Biting at Someone</option>
            <option value="Using insulting, offensive or abusive language towards ">Offensive or abusive language (includes taunting)</option>
            <option value="Using insulting, offensive or abusive gesture towards ">Offensive or abusive gesture (includes taunting)</option>
            <option value="illegally entering the field where a fight or altercation is taking place">illegally entering the field where a fight or altercation is taking place</option>
            <option value="denying an obvious goal-scoring opportunity (DOGSO) by deliberatly handling the ball & Penalty kick/Free Kick">DOGSO by deliberatly handling the ball & Penalty/Free Kick</option>
          <option value="denying an obvious goal-scoring opportunity (DOGSO) by Foul Outside the Penalty Area & Free Kick">
            DOGSO by Foul Outside the Penalty Area & Free Kick</option>
          <option value="denying an obvious goal-scoring opportunity (DOGSO) by Foul Inside the Penalty Area & No Attempt to play the ball & Penalty Kick">DOGSO by
            Foul Inside the Penalty Area & No Attempt to play the ball & Penalty Kick</option>
          </select>
            <select>
              
            </select>
        </div>

      <div>
          <select name="ejectionOffenseTowardsForm" onchange=myFunction(this) onkeyup=myFunction(this)
          id="ejectionOffenseTowardsForm" style="visibility:hidden;" required>
          <option value="" selected disabled hidden>Select an Option</option>
          <option value="a player on the opposing team">Towards a player on the opposing team</option>
          <option value="a coach on the opposing team">Towards a coach on the opposing team</option>
          <option value="a teammate">Towards a teammate</option>
          <option value="a game official">Towards a game official</option>
          <option value="a spectator">Towards a spectator</option>
        </select>
      </div>



          <div id="abusiveLanguageArea" style="display:none">
          <label id="abusiveLanguageHint">Exactly quote all abusive language. Write motherfucker. Not m*&!$#@ucker</label><br>
          <textarea id="abusiveLanguageForm" required onchange=myFunction(this) onkeyup=myFunction(this) name="w3review" rows="3" cols="35" placeholder="I hope you die on your way home, fucking bitch."></textarea>
        </div>

          <div id="ejectionSideArea" style="display: none;">
          <label>Red Card - Area of Offense (Choose the Best)</label><br>
          <select name="ejectionSideForm" onchange=myFunction(this) onkeyup=myFunction(this) id="ejectionSideForm"
            required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="in the offender's defending half of the field">Offender's Defending Half</option>
            <option value="in the offender's attacking half of the field">Offender's Attacking Half</option>
            <option value="near the midway line">near the midway line</option>
            <option value="in the team area">Team Area</option>
            <option value="in the spectators' area">Spectators' area</option>
          </select><br>
          </div>

          <select name="ejectionAreaForm" onchange=myFunction(this) onkeyup=myFunction(this) style="display: none;"
            id="ejectionAreaForm" required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="in the goal">in the goal</option>
            <option value="in front of the goal">in front of the goal</option>
            <option value="in the penalty area">*in* the penalty area</option>
            <option value="near the penalty area">*near* the penalty area</option>
            <option value="near the goal line">near the goal line</option>
            <option value="near the touchline">near the touchline</option>
            <option value="about 30 yards from the goal line">about 30 yards from the goal line </option>
            <option value="near the corner flag">near the corner flag </option>
          </select><br>

          <label>Period the Participant was Ejected</label><br>
          <select name="ejectionPeriodForm" id="ejectionPeriodForm" onchange=myFunction(this) onkeyup=myFunction(this)
            required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="before the match">before the match</option>
            <option value="first half">first half</option>
            <option value="during halftime">halftime</option>
            <option value="second half">second half</option>
            <option value="after the match">after the match</option>
            <option value=" ">tie-breaking procedures...</option>
          </select><br>

          <select name="ejectionOvertimeForm" id="ejectionOvertimeForm" onchange=myFunction(this)
            onkeyup=myFunction(this) style="visibility:hidden" required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="between the end of regulation time and the start of the tie-breaking procedures">between end of regulation time and start of
              tie breaker</option>
            <option value="first overtime period">First Overtime Period</option>
            <option value="between the end of the first overtime period and the end of the second overtime period">Between First and Second Overtime Period</option>
            <option value="second overtime period">Second Overtime Period</option>
            <option value="between the end of the second overtime period and the start of penalties">Between Second Overtime Period and Penalties
            </option>
            <option value="penalties">Penalties</option>
          </select><br>

          <label>The Minute of the Red Card</label><br>
          <input id="ejectionTimeForm" maxlength="3" style="visibility:hidden;padding-left:0;"
            style="visibility:hidden;" title="If you don't know, make your best guess" onchange=myFunction(this)
            onkeyup=myFunction(this) type="number" value="">
          <select name="ejectionTimeUpDownForm" style="visibility:hidden;" onchange=myFunction(this)
            onkeyup=myFunction(this) id="ejectionTimeUpDownForm">
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="minutes into the">Into the Period</option>
            <option value="minutes before the end of the">Remaining In the Period</option>
          </select><br>
        </div>

        <div id="subsequent-caution-form" style="background-color:rgb(255, 255, 214)">

          First Yellow Card Offense<br>
          <select name="ejection1YCOffenseForm" id="ejection1YCOffenseForm" onchange=myFunction(this)
            onkeyup=myFunction(this)>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="Unsporting Conduct - ">Unsporting Conduct</option>
            <option value="Dissent by word of mouth">Dissent by word of mouth</option>
            <option value="Dissent by action">Dissent by action</option>
            <option value="encroachment during a restart">encroachment during a restart</option>
            <option value="Persistent Infringement">Persistent Infringement</option>
            <option value="incidental use of vulgar or profane language">Incidental use of vulgar or profane language</option>
            <option value="Illegally entering the field">Illegally entering the field</option>
            <option value="Illegally leaving the field">Illegally leaving the field</option>
            <option value="use of an electronic communication device with on-field players during play">Illegal use
              of an electronic communication device</option>
          </select><br>

          <select name="ejection1YCUBForm" id="ejection1YCUBForm" style="visibility:hidden;" onchange=myFunction(this)
            onkeyup=myFunction(this)>
            <option class="UB1YC" class="UB1YC" value="" selected disabled hidden>Select an Option</option>
            <option class="UB1YC" value="Reckless Play">Reckless Play</option>
            <option class="UB1YC" value="Unnecessary delay">Unnecessary Delay</option>
            <option class="UB1YC" value="Holding a shirt, shorts">Holding a shirt, shorts</option>
            <option class="UB1YC" value="Deliberatly handling the ball to interfere with or stop a promising attack">Deliberatly handling the ball to interfere with or stop a promising attack (SPA)</option>
            <option class="UB1YC" value="Foul that interferes with or stops a promising attack">Foul that interferes with or stops a promising attack (SPA)</option>
            <option class="UB1YC" value="Coaching Outside the Team Area">Coaching Outside the Team Area</option>
            <option class="UB1YC" value="Deliberate Verbal Tactics">Deliberate Verbal Tactics</option>
            <option class="UB1YC" value="Faking an injury">Faking an injury</option>
            <option class="UB1YC" value="Simulating a foul">Simulating a foul</option>
            <option class="UB1YC" id="illegallyEquipped" value="Illegally equipped player (first instance for team)">
              Illegally equipped player (first instance for team)</option>
            <option class="UB1YC" value="A excessive or prolonged act to focus attention upon oneself">A excessive
              or prolonged act to focus attention upon oneself</option>
            <option class="UB1YC" value="DOGSO by deliberatly handling the ball & Advantage & Goal">DOGSO by deliberatly handling the ball & Advantage & Goal</option>
            <option class="UB1YC" value="DOGSO by Foul & Advantage & Goal">DOGSO by Foul & Advantage & Goal</option>
            <option class="UB1YC" value="DOGSO by Foul in Penalty Area & Attempt to play the ball & Penalty Kick">DOGSO by Foul in Penalty Area & Attempt to play the ball & Penalty Kick</option>
            <option class="UB1YC" value="Use of alcohol, use of tobacco, to be under the influence">Use of alcohol, use of tobacco, to be under the influence</option>
          </select><br>

          <label>Period of the First Yellow Card</label><br>
          <select name="ejection1YCPeriodForm" id="ejection1YCPeriodForm" onchange=myFunction(this) onkeyup=myFunction(this)
            required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="before the match">before the match</option>
            <option value="first half">first half</option>
            <option value="during halftime">halftime</option>
            <option value="second half">second half</option>
            <option value="after the match">after the match</option>
            <option value=" ">tie-breaking procedures...</option>
          </select><br>

          <select name="ejection1YCOvertimeForm" id="ejection1YCOvertimeForm" onchange=myFunction(this)
            onkeyup=myFunction(this) style="visibility:hidden" required>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="between the end of regulation time and the start of the tie-breaking procedures">between end of regulation time and start of
              tie breaker</option>
            <option value="first overtime period">First Overtime Period</option>
            <option value="between the end of the first overtime period and the end of the second overtime period">Between First and Second Overtime Period</option>
            <option value="second overtime period">Second Overtime Period</option>
            <option value="between the end of the second overtime period and the start of kicks from the penalty mark">Between Second Overtime Period and Kicks from the Penalty Mark
            </option>
            <option value="during penalties">Penalties</option>
          </select><br>

          <!-- Code by Aaron Feleke -->

          <label>The Minute of the First Yellow Card</label><br>
          <input id="ejection1YCTimeForm" maxlength="3" style="visibility:hidden;padding-left:0;"
            style="visibility:hidden;" title="If you don't know, make your best guess" onchange=myFunction(this)
            onkeyup=myFunction(this) type="number" value="">

          <select name="ejection1YCTimeUpDownForm" style="visibility:hidden;" onchange=myFunction(this)
            onkeyup=myFunction(this) id="ejection1YCTimeUpDownForm">
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="minutes into the">Into the Period</option>
            <option value="minutes before the end of the">Remaining In the Period</option>
          </select><br>

          Second Yellow Card Offense<br>
          <select name="ejection2YCOffenseForm" id="ejection2YCOffenseForm" onchange=myFunction(this)
            onkeyup=myFunction(this)>
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="Unsporting Conduct - ">Unsporting Conduct</option>
            <option value="Dissent by word of mouth">Dissent by word of mouth</option>
            <option value="Dissent by action">Dissent by action</option>
            <option value="encroachment during a restart">encroachment during a restart</option>
            <option value="Persistent Infringement">Persistent Infringement</option>
            <option value="incidental use of vulgar or profane language">Incidental use of vulgar or profane language</option>
            <option value="Illegally entering the field">Illegally entering the field</option>
            <option value="Illegally leaving the field">Illegally leaving the field</option>
            <option value="use of an electronic communication device with on-field players during play">Illegal use
              of an electronic communication device</option>
            
          </select><br>




          <select name="ejection2YCUBForm" id="ejection2YCUBForm" style="visibility:hidden;" onchange=myFunction(this)
            onkeyup=myFunction(this)>
            <option class="UB2YC" value="" selected disabled hidden>Select an Option</option>
            <option class="UB2YC" value="Reckless Play">Reckless Play</option>
            <option class="UB2YC" value="Unnecessary delay">Unnecessary Delay</option>
            <option class="UB2YC" value="Holding a shirt, shorts">Holding a shirt, shorts</option>
            <option class="UB2YC" value="Deliberate handling the ball to interfere with or stop a promising attack">Deliberate handling the ball to interfere with or stop a promising attack (SPA)</option>
            <option class="UB2YC" value="Foul that interferes with or stops a promising attack">Foul that interferes with or stops a promising attack (SPA)</option>
            <option class="UB2YC" value="Coaching Outside the Team Area">Coaching Outside the Team Area</option>
            <option class="UB2YC" value="Deliberate Verbal Tactics">Deliberate Verbal Tactics</option>
            <option class="UB2YC" value="Faking an injury">Faking an injury</option>
            <option class="UB2YC" value="Simulating a foul">Simulating a foul</option>
            <option class="UB2YC" id="illegallyEquipped" value="Illegally equipped player (first instance for team)">
              Illegally equipped player (first instance for team)</option>
            <option class="UB2YC" value="A excessive or prolonged act to focus attention upon oneself">A excessive
              or prolonged act to focus attention upon oneself</option>
            <option class="UB2YC" value="DOGSO by deliberatly handling the ball & Advantage & Goal">DOGSO by deliberatly handling the ball & Advantage & Goal</option>
            <option class="UB2YC" value="DOGSO by Foul & Advantage & Goal">DOGSO by Foul & Advantage & Goal</option>
            <option class="UB2YC" value="DOGSO by Foul in Penalty Area & Attempt to play the ball & Penalty Kick">DOGSO by Foul in Penalty Area & Attempt to play the ball & Penalty Kick</option>
            <option class="UB2YC" value="Use of alcohol, use of tobacco, to be under the influence">Use of alcohol, use of tobacco, to be under the influence</option>
          </select><br>


        </div>
      </form>
    </div>





    <div class="col-lg-7">
      <div class="sticky-top">
        <div id="fillAllWarning" style="color:red;font-weight: bold;">Fill in all of the green
          textboxes!</div>
        <div id="filledAll" style="color:green;font-weight: bold;">
          Make changes and add details before submitting!<br>
          <button onclick="CopyToClipboard('report')">Click to Copy Report</button>
        </div>

        <div id="report">
          <p><span id="ejectionName"></span> (<span id="ejectionRole"></span><span
              id="ejectionNumberHash">#</span><span id="ejectionNumber"></span>
            - <span id="ejectionTeam"></span>) was shown the red card and ejected for "<span id="ejectionOffense"></span></span><span id="ejectionOffenseTowards"></span>"<span id="abusiveLanguageHelper"></span><span id="abusiveLanguage"></span><span id="abusiveLanguageHelper2"></span>
            The offense occurred <span id="ejectionSide"></span> <span id="ejectionArea"></span> <span
              id="ejectionTime"></span> <span id="ejectionTimeUpDown"></span> <span id="ejectionPeriod"></span><span
              id="ejectionOvertime"></span>. There was no further incident with the ejected participant.
          </p>
          <p id="subsequent-caution" style="display:none;">
            The first yellow card was shown for "<span
              id="ejection1YCOffense"></span><span id="ejection1YCUB"></span>" <span
              id="ejection1YCTime"></span> <span id="ejection1YCTimeUpDown"></span> <span id="ejection1YCPeriod"></span><span
              id="ejection1YCOvertime"></span>.
            The subsequent yellow card was shown for "<span
              id="ejection2YCOffense"></span><span id="ejection2YCUB"></span>". 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("subsequent-caution-form").style.display = "none";
  function isHidden(el) {
    var style = window.getComputedStyle(el);
    return ((style.display == 'none') || (style.visibility == 'hidden'))
  }

  function CopyToClipboard(id) {
    var r = document.createRange();
    r.selectNode(document.getElementById(id));
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(r);
    document.execCommand('copy');
    window.getSelection().removeAllRanges();
    alert("Copied to your clipboard! Use Ctr + v or right click then choose Paste to see the report in full!")

  }

  function isSelectOrInputOrTextarea(el) {
    return el.tagName == "INPUT" || el.tagName == "SELECT" || el.tagName == "TEXTAREA"
  }

  function delay(time) {
    return new Promise(resolve => setTimeout(resolve, time));
  }


  function myFunction(elem, repeat = false) {
    console.log(elem.id, elem.value, elem)
    let newID = elem.id.substring(0, elem.id.length - 4);


    document.getElementById(newID).innerHTML = elem.value;

    var emptyFields = 0
    // if (document.getElementById("subsequent-caution-form").style.display == "none") { emptyFields = -4 }
    var existingElements = document.getElementsByTagName("*");
    Array.from(existingElements).filter(word => !isHidden(word) && isSelectOrInputOrTextarea(word)).forEach(function (i) {

      if (!i.value) {
        i.style = "background-color:#e5f5df";
        emptyFields = emptyFields + 1;
        console.log(i.id, "dis", i.style.display, "vis", i.style.visibility)
        // filledAll.style.display = "none"
        // i.style = "box-shadow: 0 0 25px #CC0000";
        // i.style.margin = "10px";
      } else {
        console.log("FAIL", i.id, "dis", i.style.display, "vis", i.style.visibility)
        i.style = "background-color:white";
        // i.style = "box-shadow: 0 0 0px #CC0000";
        // i.style.margin = "0px";
      }
    })




    if (elem.value == "Player " && elem.id == "ejectionRoleForm") {
      ejectionNumberArea.style.display = "block"
      document.querySelector("#ejectionNumber").innerHTML = document.querySelector("#ejectionNumberForm").value
      ejectionNumberHash.innerHTML = "#"
      document.querySelector(".UB1YC#illegallyEquipped").value = "Illegally equipped player (more than one instance for team)"
      document.querySelector(".UB1YC#illegallyEquipped").innerHTML = "Illegally equipped player (more than one instance for team)"
      document.querySelector(".UB2YC#illegallyEquipped").value = "Illegally equipped player (more than one instance for team)"
      document.querySelector(".UB2YC#illegallyEquipped").innerHTML = "Illegally equipped player (more than one instance for team)"
    }
    else if (elem.id == "ejectionRoleForm") {
      ejectionNumberArea.style.display = "none"
      ejectionNumberHash.innerHTML = ""
      ejectionNumber.innerHTML = ""
      document.querySelector(".UB1YC#illegallyEquipped").value = "Illegally equipped player (first instance for team)"
      document.querySelector(".UB1YC#illegallyEquipped").innerHTML = "Illegally equipped player (first instance for team)"
      document.querySelector(".UB2YC#illegallyEquipped").value = "Illegally equipped player (first instance for team)"
      document.querySelector(".UB2YC#illegallyEquipped").innerHTML = "Illegally equipped player (first instance for team)"
    }

    // !!!!!!!!!
    if (elem.id == "ejectionSideForm" && (elem.value == "in the offender's defending half of the field" || elem.value == "in the offender's attacking half of the field")) {
      ejectionAreaForm.style.display = "block"
      ejectionArea.innerHTML = ejectionAreaForm.value
    }
    else if (elem.id == "ejectionSideForm") {
      ejectionAreaForm.style.display = "none"
      ejectionArea.innerHTML = ""
    }

    if (elem.id == "ejectionPeriodForm" && elem.value == " ") {
      ejectionOvertimeForm.style.visibility = "visible"
      ejectionOvertime.innerHTML = ejectionAreaForm.value
    }
    else if (elem.id == "ejectionPeriodForm") {
      ejectionOvertimeForm.style.visibility = "hidden"
      ejectionOvertime.innerHTML = ""

    }

    // Code by Aaron Feleke

    if ((elem.id == "ejectionPeriodForm" || elem.id == "ejectionOvertimeForm") && ejectionPeriodForm.value != "first half" && ejectionPeriodForm.value != "second half" && ejectionOvertimeForm.value != "first overtime period" && ejectionOvertimeForm.value != "second overtime period") {
      ejectionTimeForm.style.visibility = "hidden"
      ejectionTime.innerHTML = ""
      ejectionTimeUpDownForm.style.visibility = "hidden"
      ejectionTimeUpDown.innerHTML = ""
    } else if (elem.id == "ejectionPeriodForm" || elem.id == "ejectionOvertimeForm") {
      console.log("jkh")
      ejectionTimeForm.style.visibility = "visible"
      ejectionTime.innerHTML = ejectionTimeForm.value
      ejectionTimeUpDownForm.style.visibility = "visible"
      ejectionTimeUpDown.innerHTML = ejectionTimeUpDownForm.value
    }


    /* START DUPLICATE OF ABOVE */
    if (elem.id == "ejection1YCPeriodForm" && elem.value == " ") {
      ejection1YCOvertimeForm.style.visibility = "visible"
      ejection1YCOvertime.innerHTML = ejectionAreaForm.value
    }
    else if (elem.id == "ejection1YCPeriodForm") {
      ejection1YCOvertimeForm.style.visibility = "hidden"
      ejection1YCOvertime.innerHTML = ""

    }

    if ((elem.id == "ejection1YCPeriodForm" || elem.id == "ejection1YCOvertimeForm") && ejection1YCPeriodForm.value != "first half" && ejection1YCPeriodForm.value != "second half" && ejection1YCOvertimeForm.value != "first overtime period" && ejection1YCOvertimeForm.value != "second overtime period") {
      ejection1YCTimeForm.style.visibility = "hidden"
      ejection1YCTimeForm.value = ""
      ejection1YCTime.innerHTML = ""
      ejection1YCTimeUpDownForm.style.visibility = "hidden"
      ejection1YCTimeUpDownForm.value = ""
      ejection1YCTimeUpDown.innerHTML = ""
    } else if (elem.id == "ejection1YCPeriodForm" || elem.id == "ejection1YCOvertimeForm") {
      console.log("jkh")
      ejection1YCTimeForm.style.visibility = "visible"
      ejection1YCTime.innerHTML = ejectionTimeForm.value
      ejection1YCTimeUpDownForm.style.visibility = "visible"
      ejection1YCTimeUpDown.innerHTML = ejectionTimeUpDownForm.value
    }

    
    /* END DUPLICATE OF ABOVE */

    
    if (elem.id == "ejectionOffenseForm" && !elem.value.toLowerCase().includes("violent") &&  !elem.value.toLowerCase().includes("spitting") && !elem.value.toLowerCase().includes("biting")){
      ejectionSideArea.style.display = "none"
      ejectionSide.innerHTML = ""

    } else if (elem.id == "ejectionOffenseForm"){
      ejectionSideArea.style.display = "block"
    }

    if (elem.id == "ejectionOffenseForm" && (ejectionOffenseForm.value == "subsequent caution")) {
      document.getElementById("subsequent-caution").style.display = "block";
      document.getElementById("subsequent-caution-form").style.display = "block";
      document.getElementById("ejectionOffenseTowards").style.display = "none"; 
      
    } else if (elem.id == "ejectionOffenseForm") {
      document.getElementById("subsequent-caution").style.display = "none";
      document.getElementById("subsequent-caution-form").style.display = "none";
    }

    if (elem.id == "ejectionOffenseForm" && elem.value.toLowerCase().includes("language")){
      abusiveLanguageArea.style.display = "block"
      abusiveLanguage.style.display = "inline"
      abusiveLanguageHelper.innerHTML = " by saying \""
      abusiveLanguageHelper2.innerHTML = "\""
      abusiveLanguageHint.innerHTML = "Exactly quote all abusive language. Write motherfucker. Not m*&!$#@ucker"
      abusiveLanguageForm.placeholder = "I hope you die on your way home, fucking bitch."
      abusiveLanguageForm.rows = "3"
    } else if (elem.value.toLowerCase().includes("gesture") || elem.value.toLowerCase().includes("violent") || elem.value.toLowerCase().includes("serious") || elem.value.toLowerCase().includes("biting") || elem.value.toLowerCase().includes("spitting")){
      abusiveLanguageArea.style.display = "block"
      abusiveLanguage.style.display = "inline"
      abusiveLanguageHelper.innerHTML = ". "
      abusiveLanguageHelper2.innerHTML = " "
      abusiveLanguageHint.innerHTML = "Factually describe the offense in one to three sentences. Use the ejected person's name. Where was the impact (face, ankle, etc.)"
      if (elem.value.toLowerCase().includes("violent")){
        abusiveLanguageHint.innerHTML += "For violent conduct include these terms: not challenging for the ball (only if victim is player from opposing team) / excessive force"
      }
      if (elem.value.toLowerCase().includes("serious")){
        abusiveLanguageHint.innerHTML += " For serious foul play include these terms: opponent / challenge for the ball / excessive force"
      }
        
      abusiveLanguageForm.placeholder = "Sarah Williams elbowed an opponent with excessive force in the face while challenging for the ball by attempting to head the ball."
      abusiveLanguageForm.rows = "5"
    } else if (elem.id == "ejectionOffenseForm"){
      abusiveLanguageArea.style.display = "none"
      abusiveLanguage.style.display = "none"
      abusiveLanguageHelper.innerHTML = ""
      abusiveLanguageHelper2.innerHTML = "."
    }


if (elem.id == "ejectionOffenseForm" && (elem.value.toLowerCase().includes("gesture") || elem.value.toLowerCase().includes("language") || elem.value.toLowerCase().includes("violent") || elem.value.toLowerCase().includes("serious") || elem.value.toLowerCase().includes("biting") || elem.value.toLowerCase().includes("spitting"))) {
      ejectionOffenseTowardsForm.style.visibility = "visible"
      ejectionOffenseTowardsForm.style.display = 'block';
      ejectionOffenseTowards.style.display = 'inline'; 
      if (ejectionOffenseForm.value.toLowerCase().includes("serious")){
        ejectionOffenseTowardsForm.style.display = 'none';  
        document.getElementById("ejectionOffenseTowards").style.display = "none"; 
      }
    
      if (ejectionOffenseForm.value != "Spitting at " && ejectionOffenseForm.value != "Biting at "){
        abusiveLanguageArea.style.display = "block"
      }

      
    } else if (elem.id == "ejectionOffenseForm") {
      ejectionOffenseTowardsForm.style.display = 'none';
      document.getElementById("ejectionOffenseTowards").style.display = "none"; 
      abusiveLanguageArea.style.display = "none"
    }


    if (elem.id == "ejection2YCOffenseForm" && ejection2YCOffenseForm.value == "Unsporting Conduct - ") {
      ejection2YCUB.style.visibility = "visible"
      ejection2YCUBForm.style.visibility = "visible"
      ejection2YCUBForm.value = ""


    } else if (elem.id == "ejection2YCOffenseForm" && ejection2YCOffenseForm.value == "Illegally") {
      ejection2YCUB.style.visibility = "visible"
      ejection2YCUBForm.style.visibility = "visible"
      ejection2YCUBForm.value = ""



    }
    else if (elem.id == "ejection2YCOffenseForm" && ejection2YCOffenseForm.value == "Dissent") {
      ejection2YCUB.style.visibility = "visible"
      ejection2YCUBForm.style.visibility = "visible"
      ejection2YCUBForm.value = ""

    }
    else if (elem.id == "ejection2YCOffenseForm") {
      ejection2YCUB.style.visibility = "hidden";
      ejection2YCUBForm.style.visibility = "hidden"
      ejection2YCUBForm.value = ""
      ejection2YCUB.innerHTML = ""
    }

    if (elem.id == "ejection1YCOffenseForm" && ejection1YCOffenseForm.value == "Unsporting Conduct - ") {
      ejection1YCUB.style.visibility = "visible"
      ejection1YCUBForm.style.visibility = "visible"
      ejection1YCUBForm.value = ""


    } else if (elem.id == "ejection1YCOffenseForm" && ejection1YCOffenseForm.value == "Illegally") {
      ejection1YCUB.style.visibility = "visible"
      ejection1YCUBForm.style.visibility = "visible"
      ejection1YCUBForm.value = ""



    }
    else if (elem.id == "ejection1YCOffenseForm" && ejection1YCOffenseForm.value == "Dissent") {
      ejection1YCUB.style.visibility = "visible"
      ejection1YCUBForm.style.visibility = "visible"
      ejection1YCUBForm.value = ""


    }
    else if (elem.id == "ejection1YCOffenseForm") {
      ejection1YCUB.style.visibility = "hidden";
      ejection1YCUBForm.style.visibility = "hidden"
      ejection1YCUBForm.value = ""
      ejection1YCUB.innerHTML = ""
    }





    console.log("Empty Fields", emptyFields)
    if (!repeat) {
      myFunction(elem, true)
    }

  }

// var formIds = document.querySelectorAll('[id]');
// Array.prototype.forEach.call( formIds, function( el, i ) {
// // "el" is your element
// el.addEventListener("change", myFunction);
// });



</script>
</body>
</html>
