<head>
<title>PRO AR Ofside Test</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2DW7QMEG5H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-2DW7QMEG5H');
</script>
</head>
<body>
<style>

    .button {
        border: 1px dotted black;
        border-radius: 4px;
        font-size: large;
        padding: 6px;
    }
    .button.off:hover{
background-color: rgb(233, 144, 144);
cursor: pointer;
    }
    .button.on:hover{
background-color: rgb(110, 215, 110);
cursor: pointer;
    }
</style>

<table>
    <tr>
        <td>
        <b>Offside Position Quiz</b><br>
        If <b>any</b> player is in an offside position when the ball is kicked,<br>
        choose "Offside Position". No pausing. Results at the end. 
    </td>
<!-- Created by Aaron F -->
    <td>
        <div id="quiz">
            <div id="videoNumber"></div>
            <button style="margin-right: 7px" class="button on" onclick="myFunction(0)" id="onsidePosition"><img height="15px"src="/assets/checkmark.png">Onside Position</span><br>
            <button class="button off" onclick="myFunction(1)" id="offsidePosition"><img height="15px"src="/assets/flag.png"></img>Offside Position</span>
            </div>
            <div id="results">
            <div id="summary"></div>
            <div id="table"></div>
            </div>
        </td>
    </tr>
    </table>


<br>
<br>
<iframe width="100%" height="85%" src="https://www.youtube-nocookie.com/embed/3Bkv6Rly4kE?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<script>

choosen = []
answer = [0,0,1,0,0,0,1,0,1,0,0,1,0,1,1,0,1,1,1,0,1,0,0,0,0]
var number = 1
videoNumber.innerHTML = "Clip " + number + " of 25"

function myFunction(choice){
    
    if (number > 25){
        return
    } else if (number == 25){
        number += 1
        choosen.push(choice)
        quiz.style.display = "none"
        results.style.display = "block"
        summary.innerHTML = numberCorrect() + "/25 Correct (" + Math.floor(numberCorrect() / 25 * 100)+ "%)" 
        showTable()
    } else {
        number += 1
        videoNumber.innerHTML = "Clip " + number + " of 25"
        choosen.push(choice)
    }

    
    }

    function numberCorrect(){
        score = 0
        for (i = 0; i < answer.length; i++){
            if (choosen[i] == answer[i]){
                score += 1
            }
        }
        return score
    }
    
    function showTable(){
        text = ""
        for (i = 0; i < answer.length; i++){
            text += i + 1 + " "
            if (choosen[i] == 0){
                text += "Onside "
            } else {
                text += "Offside "
            }
            // Created by Aaron F
            if (choosen[i] == answer[i]){
                text += "Correct"
            } else {
                text += "Wrong"
            }
            text += "<br>"
            
        }
        table.innerHTML += text
    }


</script>
</body>
