* {
    font-family: ProximaNova, sans-serif;
}

body:not(.dark-mode){
	      background: linear-gradient(
        143.6deg,
        rgba(192, 132, 252, 0) 20.79%,
        rgba(232, 121, 249, 0.26) 40.92%,
        rgba(204, 171, 238, 0) 70.35%
      );

}

body{
background: linear-gradient( 143.6deg, #343949 20.79%, rgba(54, 1, 62, 0.88) 40.92%, #343949 70.35% );
}

.tile-body {
    padding: 10px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    border-radius: 15px;
    height: min-content;
}

.one-line{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 0 auto;
    width: 100%;
    flex-wrap: nowrap;
    padding-top: 10px;
}

.tile {
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 250;
    height: 200px;

}

.tile:hover{
    animation: border-hover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.spacer {
    padding: 10px;
}

button {
    background-color: #1a4e99;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 10px;
    width: max-content;
}

button:hover {
    opacity: 0.6;
}


@keyframes border-hover {
    0% {
        background-color: inherit;
    }
    50% {
        background-color: rgb(236, 239, 242);
    }
    100% {
         background-color: inherit;
    }
}


@keyframes dark-mode-hover {
    0% {
        background-color: inherit;
    }
    50% {
        background-color: #343949;
    }
    100% {
         background-color: inherit;
    }
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    font-family: ProximaNova, sans-serif;
}

h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}

img:hover {
    background-color: rgb(197, 175, 175);
    animation-name: background-hover;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes background-hover {
    0% {
        background-color: inherit;
    }
    50% {
        background-color: yellow;
    }
    100% {
        background-color: inherit;
    }
}
    
.description {
    padding: 10px 0px;
}

.header {
    padding: 0px 0px
}
.tech {
    padding: 0px 5px
}
.dark-mode {
background-color: #343949;
color: wheat;

}

.dark-mode button {
color: white;
}

.dark-mode img {
	background: white;
}

.dark-mode .tile:hover {
	animation: dark-mode-hover;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.dark-mode .tile {
	box-shadow: 0 0 7px rgb(196 27 27 / 91%);
}

@media screen and (min-width: 1050px) {
  .one-line {
  	display: flex;
  	flex-direction: column;
  	width: 200px;
	}
	#pictures {
		width:min-content;
	}
    #first-image {
        display: inline;
        width: 200px;
    }
    #second-image {
        display: inline;
        width: 200px;
        height: 200px;
    }
    #third-image {
        display: none;
        width: 200px;
    }
    body {
    	display: flex;
    	flex-direction: row;
        width: 1050px;
        margin: auto;
    }
		h1 {
			font-size: 3rem;
			font-family: Verdana,Helvetica, Garamond,  Arial;
			width: 200px;
			line-height: 2.7rem;
			margin: 0;
			margin-bottom: 15px;
		}
}

@media screen and (min-width: 630px) and (max-width: 1050px){
    #first-image {
        display: inline;
        width:150px;
    }
    #second-image {
        display: inline;
        width:150px;
        height: 150px;
    }
    #third-image {
        display: none;
        width:150px;
    }
    .description {
        font-size: 14px !important;
        padding-top: 0;
        padding-bottom: 0;
    }
    .tile {
        height: 150px;
        width: 180px;
    }

    h2 {
        font-size: 18px;
    }
    h1 {
margin: 0
		}

    .spacer {
        padding: 5px 5px;
    }

    button {
        padding: 1px;
        border: 0;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
        color: blue;
        text-decoration: underline;
        display: block;
        width: 100%;
        background-color: transparent;
        
    }

    .tile-body{
        padding: 5 5;
    }
body {
    width: 630px;
    margin: auto;
}
}

@media screen and (max-width: 630px) {
    #first-image {
        display: inline;
        width: 150px;
    }
    h1 {
    	margin: 0
		}
    #second-image {
        display: none;
        width:150px;
    }
    #third-image {
        display: none;
    }
    .tile{
        width: 100%;
        height: min-content;
        padding: auto 5px;
        font-size: 14px;;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
    }
    .description{
        padding-top: 0;
        padding-bottom: 0;
    }

    button {
        padding: 1px;
        border: 0;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
        color: blue;
        text-decoration: underline;
        display: block;
        width: 100%;
        background-color: transparent;

        
    }

    #profile {
        font-size: 14px;
    }

    #first-image {
        width: 120px !important;
    }

    .spacer {
        padding: 0;
    }
    .tile-body{
        padding: 0 0
    }

		.dark-mode .tile {
			box-shadow: none;
		}
}

